.chat{
    flex:0.65;
  display: flex;
    flex-direction: column;

}

.chat_header{
    display:flex;
    border-bottom:1px solid lightgray;
    align-items: center;
    padding:20px;


}
.chat_header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.chat_header_info{
    flex:1;
    padding-left:20px;
}

.chat_header_info > p{
    color:gray;
}

.chat_body{
    
    background-image:url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png") ;
    background-repeat: repeat;
    flex:1;
    overflow:scroll;
    padding:30px;
}
.chat_message{
    position: relative;
    font-size:16px;
    background-color: white;
    border-radius: 10px;
    width:fit-content;
    margin-bottom:30px;
    padding:5px;
    

}
.chat_name{
    position:absolute;
    top:-15px;
    font-size:x-small;
    font-weight: bold;
}
.chat_time{
    font-size:x-small;
    padding-left:10px;
}

.chat_message_receiver {
    margin-left: auto;
    background-color: #dcf8c6;
}

.footer_text{
    width: max-content;
}

.chat_footer{
    display: flex;
    align-items: center;
    border-top:1px solid lightgray ;
    height:60px;
    justify-content: space-between;
    
}
.chat_footer > form {
    flex:1;
    display: flex;
}
.chat_footer > form>input {
    flex:1;
    height:40px;
    border-radius:30px;
    border:none;
}
.chat_footer > form > button {
    display:none;
}
